/* here you can put your own css to customize and override the theme */

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 1000px; /* little bit of a magic number :( */
  overflow: visible;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 1000px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}
.portlet-sortable-placeholder {
  border: 2px dashed #eee;
  margin-bottom: 25px; }
